asgiref==3.8.1
Django==5.1.6
django-redis==5.4.0
redis==5.2.1
sqlparse==0.5.3
dotenv
djangorestframework
django-cors-headers
psycopg2-binary
channels
channels-redis
requests
geopy
python-dotenv
django-debug-toolbar
pytest
pytest-django
gunicorn
passiogo
python manage.py makemigrations
python manage.py migrate
